// TODO

.postList {
  list-style: none;

  li {
    margin-top: 3.125rem;

    h1 {
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 2.125rem;
      text-align: justify;
      color: var(--heading);
    }

    h2 {
      margin-top: 0.5rem;
      font-size: 1.125rem;
      line-height: 1.375rem;
      font-weight: normal;
      text-align: justify;
      color: var(--body);
    }

    p {
      margin-top: 2rem;
      color: var(--info);
      font-size: 0.875rem;
      line-height: 1rem;
      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        time {
          margin-right: 1.5rem;
        }
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
